<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" shutdownHook="disable">
    <appenders>
        <RollingRandomAccessFile name="File"
                                 fileName="./logs/driver-service.log"
                                 filePattern="./logs/$${date:yyyyMMdd}/driver-service-%d{yyyy-MM-dd}.log.%i.gz"
                                 immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %-5p %c - %m%n" />

            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="500MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingRandomAccessFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss,SSS}] %-5p [%t] | %c: %m%n" />
        </Console>
        <Syslog name="Syslog" format="RFC5424" host="localhost" port="514"
                protocol="UDP" appName="driver-service" includeMDC="true" newLine="true"
                mdcId="mdc">
            <LoggerFields>
                <KeyValuePair key="AppMsg"
                              value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %-5p %c" />
            </LoggerFields>
        </Syslog>
    </appenders>
    <loggers>
        <logger level="info" name="org.springframework" />
        <logger level="info" name="org.hibernate" />
        <root level="INFO">
            <appender-ref ref="File" />
            <appender-ref ref="Console" />
            <appender-ref ref="Syslog" level="WARN" />
        </root>
    </loggers>
</configuration>